%h2 
  Current Budget
  - d_now = DateTime.now
  - days_left = @target_day - d_now

%table
  %thead
    %th
      Category
    %th
      Budget
    %th
      Flow
    %th
      Remaning
    %th
      Daily Spend allowed
  %tbody
    - sum_budget = BigDecimal(0)
    - sum_expenses = BigDecimal(0)
    - @budgets.each do |k, budget|
      %tr
        %td
          = budget[:name]
        %td
          = budget[:budget].to_s('F')
          - sum_budget += budget[:budget]
        %td
          = budget[:expenses].to_s('F')
          - sum_expenses += budget[:expenses]
        %td
          = (budget[:budget] - budget[:expenses]).to_s('F')
        %td
          = "%.2f" % ((budget[:budget] - budget[:expenses]) / days_left)
    %tr
      %td
        %b
          Total
      %td
        %b
          = sum_budget.to_s('F')
      %td
        %b
          = sum_expenses.to_s('F')
      %td
        %b
          = (sum_budget - sum_expenses).to_s('F')
      %td
        %b
          = "%.2f" % ((sum_budget - sum_expenses) / days_left)

%h3
  = "Days left in month: #{days_left}" 

%h2 
  Expenses on record

%table 
  %thead
    %th
      Category
    %th
      Amount
    %th
      Note
    %th
      Time Recorded
    %th
      Edit
  %tbody
    - @transactions.each do |tx|
      %tr
        %td
          = tx[:name]
        %td
          = tx[:amount].to_s('F')
        %td
          = tx[:note]
        %td
          = tx[:tx_time]
        %td
          %a(href="/expense/#{tx[:transaction_id]}")
            Edit



