%div(id="app_id")
  %form(action="/record" method="POST")
    - if @chosen_category.nil? 
      - @categories.each do |k, c|
        %li
          %a(href="/record/#{c[:category]}")
            - if not c[:budget].nil?
              = "(#{(c[:budget] - c[:expenses]).to_s('F')})"
            = c[:name] 
    - else
      %input(value="#{@chosen_category[:category]}" type="hidden" name="chosen_category" id="chosen_category")
      %label.form-input
        Category
        %b.pad 
          = @chosen_category[:name]
          %a(href="/record")
            Change Category
    %label.form-input
      Amount
      %input.pad(type="number" step="any" name="amount" id="amount")
    %label.form-input
      Notes
      %input.pad(type="text" name="notes" id="notes")
    - if not @chosen_category.nil?
      %label.form-input
        %input.pad(type="submit" value="Save Expense")



